<a href="https://colab.research.google.com/github/araldi/FS22---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L/blob/main/Week2/03_Intro_to_pandas_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises

#### Exercise 1

Import a csv file from your computer and get the info on column names, size, data types, number of null values per column.

In [ ]:
from google.colab import files
uploaded = files.upload()
file_name = 'summary_CD93_SKAT.csv'

Saving summary_CD93_SKAT.csv to summary_CD93_SKAT (1).csv

In [ ]:
import pandas as pd

df = pd.read_csv(file_name)

In [ ]:
df.head()

   Unnamed: 0  Unnamed: 0.1 SetID  ...  N.Marker.Rare  N.Marker.Common  Diagnosis
0           0             1  CD93  ...           7232              149       H350
1           0             1  CD93  ...           7232              149       H353
2           0             1  CD93  ...           7232              149       E083
3           0             1  CD93  ...           7232              149       E093
4           0             1  CD93  ...           7232              149       E103

[5 rows x 10 columns]

In [ ]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'SetID', 'P.value', 'Q', 'N.Marker.All',
       'N.Marker.Test', 'N.Marker.Rare', 'N.Marker.Common', 'Diagnosis'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Unnamed: 0.1     7 non-null      int64
 2   SetID            7 non-null      object
 3   P.value          7 non-null      float64
 4   Q                7 non-null      float64
 5   N.Marker.All     7 non-null      int64
 6   N.Marker.Test    7 non-null      int64
 7   N.Marker.Rare    7 non-null      int64
 8   N.Marker.Common  7 non-null      int64
 9   Diagnosis        7 non-null      object
dtypes: float64(2), int64(6), object(2)
memory usage: 688.0+ bytes

In [ ]:
df.dtypes

Unnamed: 0           int64
Unnamed: 0.1         int64
SetID               object
P.value            float64
Q                  float64
N.Marker.All         int64
N.Marker.Test        int64
N.Marker.Rare        int64
N.Marker.Common      int64
Diagnosis           object
dtype: object

In [ ]:
df.isna().sum()

Unnamed: 0         0
Unnamed: 0.1       0
SetID              0
P.value            0
Q                  0
N.Marker.All       0
N.Marker.Test      0
N.Marker.Rare      0
N.Marker.Common    0
Diagnosis          0
dtype: int64

#### Exercise 1b

Import an excel file from your computer and do the same as above.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx to WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx

In [ ]:
excel_df = pd.read_excel('WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx', skiprows = 15)

In [ ]:
excel_df.head()

  Unnamed: 0 Unnamed: 1  ... Unnamed: 20 Unnamed: 21
0      Index    Variant  ...        2015        2020
1          1  Estimates  ...  101.683359  101.685695
2          2  Estimates  ...         ...         ...
3          3  Estimates  ...   94.804265   95.040506
4          4  Estimates  ...  103.155636  103.036341

[5 rows x 22 columns]

In [ ]:
excel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 22 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Unnamed: 0                                                 256 non-null    object
 1   Unnamed: 1                                                 256 non-null    object
 2   Unnamed: 2                                                 256 non-null    object
 3   Unnamed: 3                                                 59 non-null     object
 4   Unnamed: 4                                                 256 non-null    object
 5   Unnamed: 5                                                 256 non-null    object
 6   Unnamed: 6                                                 256 non-null    object
 7   Sex ratio of the total population (males per 100 females)  256 non-null    object
 8   Unnamed: 8                                                 256 non-null    object
 9   Unnamed: 9                                                 256 non-null    object
 10  Unnamed: 10                                                256 non-null    object
 11  Unnamed: 11                                                256 non-null    object
 12  Unnamed: 12                                                256 non-null    object
 13  Unnamed: 13                                                256 non-null    object
 14  Unnamed: 14                                                256 non-null    object
 15  Unnamed: 15                                                256 non-null    object
 16  Unnamed: 16                                                256 non-null    object
 17  Unnamed: 17                                                256 non-null    object
 18  Unnamed: 18                                                256 non-null    object
 19  Unnamed: 19                                                256 non-null    object
 20  Unnamed: 20                                                256 non-null    object
 21  Unnamed: 21                                                256 non-null    object
dtypes: object(22)
memory usage: 44.1+ KB

#### Exercise 2

From the DataFrame above, select only the first 4 columns, and save the dataset as "dataframe.csv" on a new "exercise" folder in your google drive.

In [ ]:
# let's see where we are now
!pwd

/content

In [ ]:
# let's see what else is here

!ls

 Elsevier_titlelist_publication.xlsx
 sample_data
'summary_CD93_SKAT (1).csv'
 summary_CD93_SKAT.csv
 WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx

In [ ]:
# let's create the exercise folder
!mkdir exercise

In [ ]:
# check that the folder is actually created
!ls

 Elsevier_titlelist_publication.xlsx
 exercise
 sample_data
'summary_CD93_SKAT (1).csv'
 summary_CD93_SKAT.csv
 WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx

In [ ]:
# go in the new folder
!cd exercise

/content/exercise

In [ ]:
# print the directory where you are currently (working directory)
!pwd

/content/exercise

In [ ]:
# select the first 4 columsn and save in new dataframe.csv file
excel_df.iloc[:, 0:4].to_csv('/content/exercise/dataframe.csv')

#### Exercise 3

Create a dictionary that has as key PharmGKB Accession Id and as values the Name of the drug (dataframe *drugs* from above)

In [ ]:
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', 
                     sep='\t')

drugs.head()

  PharmGKB Accession Id  ... PubChem Compound Identifiers
0           PA164712302  ...                          NaN
1           PA134967247  ...                        66414
2           PA131887008  ...                         1615
3           PA165958321  ...                       178014
4           PA165858618  ...                      9571836

[5 rows x 24 columns]

In [ ]:
dictionary = {}
for index, value in enumerate(drugs['PharmGKB Accession Id']):
  dictionary[value] = drugs.loc[index, 'Name']

In [ ]:
# also can be done using dict and zip
dictionary = {}

dictionary = dict(zip(drugs['PharmGKB Accession Id'], drugs['Name']))

#### Exercise 4

Find the row in the file above for aspirin.

In [ ]:
drugs[drugs['Name'] == 'aspirin']

    PharmGKB Accession Id  ... PubChem Compound Identifiers
387              PA448497  ...                         2244

[1 rows x 24 columns]